<!DOCTYPE html>  
<html>  
<head lang="en">  
    <meta charset="UTF-8">  
    <title></title>  
</head>  
<body>  
    <table border="1" cellspacing="0">  
        <tr>  
            <th>oid</th>  
            <th>名称</th>
            <th>位置</th>
            <th>AP状态</th>
            <th>邮件功能</th>
            <th>报警功能</th>
            <th>备注</th>
        </tr>  
        {% for item in data %}  
            <tr>  
                <td>{{ item.ap_oid }}</td>  
                <td>{{ item.ap_name }}</td> 
                <td>{{ item.ap_location }}</td>
                <td>{{ item.ap_status }}</td>
                <td>{{ item.mailed }}</td>
                <td>{{ item.ap_warnsw }}</td>
                <td>{{ item.ap_remarks }}</td>
            </tr>  
        {% endfor %}  
    </table>  
</body>  
</html>  