<!DOCTYPE html>
<html>
<head>
    <title>欢迎光临</title>
</head>
<body>
风寻科技草根运维网
<p>
<a href="/ipudong1_select_all_inf">爱浦东一期-查询所有AP信息</a></p>
<a href="/ipudong1_filter_inf">爱浦东一期-条件查询AP信息</a></p>
<a href="/ipudong1_update_page">爱浦东一期-恢复报警设置</a></p>
<a href="/ipudong1_update_page">爱浦东一期-查询报警设置</a></p>
<a href="/ishanghai_select_all_inf">爱上海-查询所有AP信息</a></p>
<a href="/ishanghai_filter_inf">爱上海-条件查询AP信息</a></p>
<a href="/ishanghai_update_page">爱上海-恢复报警设置</a></p>
<a href="/ipudong3_select_all_inf">爱浦东三期-查询所有AP信息</a></p>
<a href="/ipudong3_filter_inf">爱浦东三期-条件查询AP信息</a></p>
<a href="/ipudong3_update_page">爱浦东三期-恢复报警设置</a></p>
</body>
</html>